{% extends "base.html" %}

{% block content %}
{% load static %}
{% load cloudinary %}
{% load crispy_forms_tags %}
{% if user.is_authenticated %}

<div class="container">
    <form method="POST" enctype="multipart/form-data" class="p-2 form">
        <h3 class="text-center">Add your own recipes</h3>
        {% csrf_token %}
        {{ form.media }}
        {{ form | crispy }}
        <div class="text-center">
            <button type="submit" class="btn btn-success mt-2">Create Recipe</button>
            <a class="btn btn-primary mt-2" href="{% url 'home' %}">Cancel</a>
        </div>
    </form>
</div>
{% endif %}
{% endblock %}